*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

button {
    margin: 1em;
    font-size: 2rem;
    padding: .5em;
    /* border-radius: .5em; */
}

.container {
    padding: 3em;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 70px);
    grid-template-rows: repeat(9, 70px);
    border: 2px solid black;
}

.board > :nth-child(odd) {
    background-color: lightblue;
}

.board > :nth-child(9n+3),
.board > :nth-child(9n+6) {
    border-right: 2px solid black;
}

.board > :nth-child(n+19):nth-child(-n+27),
.board > :nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}
