*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

button {
    margin: 1em;
    padding: .5em 1em;
    border: none;
    border-radius: 1em;
    background-color: lightsteelblue;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

button:disabled {
    background-color: lightgrey;
}

button:focus {
    outline: 0;
}

button:hover:not(:disabled) {
    transform: scale(1.05);
    filter: brightness(105%);
}

.container {
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.alert {
    background-color: rgba(255, 0, 0, .7);
    border-radius: .2em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    width: 80vmin;
    max-width: 35em;
    margin: 1em auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 90vmin;
    max-width: 40em;
    height: 90vmin;
    max-height: 40em;
    margin: auto;
    border: 2px solid black;
}

.board > :nth-child(odd) {
    background-color: lightblue;
}

/* Add vertical dividers */
.board > :nth-child(9n+3),
.board > :nth-child(9n+6) {
    border-right: 2px solid black;
}

/* Add horizontal dividers */
.board > :nth-child(n+19):nth-child(-n+27),
.board > :nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.current {
    border: 3px dotted blue;
    font-size: 3em;
    color: green;
}

.control-area {
    margin: 1em auto;
    width: 80vmin;
    max-width: 30em;
    padding: 1em;
    border: 1px dotted lightgray;
    border-radius: 2em;
    /* font-size: 1.2em; */
}

.control-area > * {
    display: flex;
    margin: auto;
}

.control-area button {
    margin: .6em;
    flex: 1;
}

.variable-control {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
}

.variable-control-label {
    flex: 1;
    text-align: right;
    padding-right: 4em;
}

.variable-control-controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.variable-control-controls button {
    width: 3em;
}

.variable-control-controls span {
    text-align: center;
    font-weight: bold;
    width: 4em;
}
